<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeeRPC Services</title>
</head>
<body>
    {{range .}}
    <hr>
    Service {{.Name}}
    <hr>
        <table>
            <th align="center">Method</th><th align="center">Calls</th>
            {{range $name, $mtype := .Method}}
                <tr>
                    <td align="left" font="fixed">{{$name}}({{$mtype.ArgType}}, {{$mtype.ReplyType}}) error</td>
                    <td align="center">{{$mtype.numCalls}}</td>
                </tr>
            {{end}}
        </table>
    {{end}}
</body>
</html>